*
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #f3f3f3;
  font-family: Voltaire, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
}

header {
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6,
.text-green {
  color: #cefa69;
}

p {
  font-size: 1.5rem;
  margin-top: .2rem;
  margin-bottom: .8rem;
}

a {
  color: #69face;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid currentColor;
}

#andromeda {
  background-image: url("andromeda.jpg");
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.hazey {
  z-index: 0;
  opacity: .77;
  background-color: #111;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.inner-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 100vh;
}

.Playlist {
  text-align: center;
}

.Playlist:hover .Playlist__follow {
  opacity: 1;
}

.Playlist__title {
  font-size: 1.8rem;
  line-height: 1rem;
  color: #cefa69;
}

.Playlist__iframe {
  margin-bottom: 1.5rem;
  opacity: .69;
  transition: opacity .5s ease-in-out;
}

.Playlist__notes {
  list-style-type: none;
  padding: 0;
}

.Playlist__notes > li {
  font-size: 1rem;
  line-height: 1.8rem;
}

.Playlist__notes > li::before {
  font-family: 'FontAwesome';
  vertical-align: middle;
  font-size: .4rem;
  padding-right: .4rem;
  content: '\f1db';
}

.Playlist__follow {
  display: block;
  margin: 0.6rem;
  opacity: 0;
  font-size: .75rem;
  color: #ce69fa;
  transition: opacity .5s ease-in-out;
}

.Playlist__follow--type.type--open::before {
  display: inline;
  content: 'open in Spotify:';
}

.Playlist__follow--type.type--player::before,
.Playlist__follow--type.type--player::after {
  display: inline;
  opacity: 0;
}

.Playlist__follow--type.type--player:hover::before,
.Playlist__follow--type.type--player:hover::after {
  opacity: 1;
}

.Playlist__follow--type.type--player::before {
  content: '[';
}
.Playlist__follow--type.type--player::after {
  content: ']';
}

.Playlist__follow--type {
  display: inline;
  padding: 0 0.6rem;
}

.Playlist__follow--type a {
  color: #aaa;
  text-decoration: none;
  transition: all .2s ease-in;
}

.Playlist__follow--type a:hover {
}


/* Utilities / Generics */

.container {
  max-width: 900px;
  min-height: 1rem;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.grow {
  width: 100%;
  min-width: 100%;
}

.snug {
  width: 1.23%;
  white-space: nowrap;
}

.t-grid {
  display: table;
}

.t-grid > [class^="cell"] {
  display: table-cell;
}

.cell-1-2 {
  width: 50%;
}

.ib {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.abs-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.abs-top    { position: absolute; top: 0; }
.abs-middle { position: absolute; top: 50%; transform: translateY(-50%); }
.abs-bottom { position: absolute; bottom: 0; }
.abs-left   { position: absolute; left: 0; }
.abs-center { position: absolute; left: 50%; transform: translateX(-50%); }
.abs-right  { position: absolute; right: 0; }
.abs-middle.abs-center { position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }

.gap-around-sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gap-between-sm + .gap-between-sm {
  margin-top: 2rem;
}

.gap-trailing-sm {
  margin-bottom: 2rem;
}

.gap-leading-sm {
  margin-top: 2rem;
}

.gap-around {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.gap-x-around-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}

.gap-between + .gap-between {
  margin-top: 4rem;
}

.gap-trailing {
  margin-bottom: 4rem;
}

.gap-leading {
  margin-top: 4rem;
}

.gap-around-lg {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.gap-between-lg + .gap-between-lg {
  margin-top: 6rem;
}

.gap-trailing-lg {
  margin-bottom: 6rem;
}

.gap-leading-lg {
  margin-top: 6rem;
}


@media (max-width: 1200px) {
  .flexrow {
    flex-wrap: wrap;
  }
}

@media (max-width: 560px) {
  .flexrow {
    flex-direction: column;
    text-align: center;
  }

  .Playlist .Playlist__follow {
    opacity: 1;
  }
}
