.Playlist {
  margin-top: 1rem;
  width: 100%;
}

.Playlist_version {
  color: var(--text-white);
}

.Playlist_name {
  text-transform: capitalize;
}

.Playlist_iframe {
  height: 240px;
}

@media (min-width: 940px) {
  .Playlist_iframe {
    height: 360px;
  }
}

@media (max-width: 520px) {
  .Playlist_iframe {
    height: 88px;
  }
}

.Openwith {
  text-align: center;
  font-size: .9rem;
  margin-top: 12px;
  margin-bottom: 4px;
}

.Openwith > * {
  margin: 5px;
}

.Openwith > i {
  font-size: .5rem;
  vertical-align: middle;
}

@media (max-width: 560px) {
  .Openwith {
    display: none;
  }
}
