.Playlist {
  margin: 1rem;
}

.Playlist_version {
  color: var(--text-white);
  margin-top: 14px;
  margin-right: 14px;
}

.Playlist_name {
  text-transform: capitalize;
}

.Playlist_iframe {
  width: 300px;
}

@media (min-width: 560px) {
  .Playlist_iframe {
    height: 380px;
  }
}

.Openwith {
  text-align: center;
  font-size: .9rem;
}

.Openwith > * {
  margin: 5px;
}

.Openwith > i {
  font-size: .5rem;
  vertical-align: middle;
}

@media (max-width: 560px) {
  .Openwith {
    display: none;
  }
}
