.App {
}

.App_playlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 1080px) {
  .App_playlists {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 560px) {
  .App_playlists {
    flex-direction: column;
    text-align: center;
  }
}

.App_footer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
