ul, ol, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

select {
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.App {
  margin-top: 3rem;
}

.App_playlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
}

.App_footer {
  margin-top: 7rem;
  margin-bottom: 7rem;
  text-align: center;
}

.List_grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  grid-gap: 1px;
}

.List_grid-item {
}

.List_list {
}

.List_list:hover .List_item {
  /*color: var(--text-gray);*/
  /*opacity: 0.7;*/
}

.List_li {
  list-style-type: none;
}

.List_link {
  display: block;
  padding: 16px 8px;
}

.List_grid-item {
  border-radius: 4px;
  text-align: center;
}

.List_list .List_item:hover {
  /*background-color: rgba(10,10,10,0.5);*/
  box-shadow: 0px 0px 4px var(--text-gray);
  /*color: var(--text-white);*/
  /*opacity: 1;*/
}

.List_list .List_item--active {
  padding: 12px 0;
  border-top: solid 3px var(--middle-gray);
}

.ListItem_version {
  visibility: hidden;
}

.List_grid .List_item:hover .ListItem_version {
  /*visibility: visible;*/
}

.ListItem_version {
}

.ListItem_title {
  font-size: 1.2rem;
}

.ListItem_link {
}

.ListItem_description {
  font-size: .8rem;
}

@media (max-width: 900px) {
  .List_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .List_grid {
    grid-template-columns: 1fr;
  }
}
